{% extends "base.twig" %} {% block title %} Cadastre-se {% endblock title %} {% block content %}
<div class="container">
    <form method="POST" action="criar_usuario">
        <div class="form-group row">
            <h1>Crie seu login!</h1>
        </div>
        <div class="form-group row">
          <label for="email">E-mail:</label>
          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="Digite seu e-mail...">
        </div>
        <div class="form-group row">
          <label for="senha">Senha:</label>
          <input type="password" class="form-control" name="senha" id="senha" placeholder="Digite sua senha...">
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Cadastrar</button>
        </div>
    </form>
</div>
{% endblock content %}