{% extends "base.twig" %} {% block title %} Esqueci a senha {% endblock title %} {% block content %}
<div class="container">
    <form>
        <div class="form-group row">
            <h1>Esqueci a senha</h1>
        </div>
        <div class="form-group row">
          <label for="">E-mail:</label>
          <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="Digite seu e-mail...">
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Enviar Senha</button>
        </div>
    </form>
</div>
{% endblock content %}