{% extends "baseNav.twig" %} {% block title %} Dashboard {% endblock title %} {% block content %}

<h1>Excluir sua conta</h1>
<div class="alert alert-danger" role="alert">
  <strong>Atenção, essa operação é irreversivel. {{dados.usuario}}</strong>
</div>

<form method="POST" action="{{ path_for('usuario-excluir', { 'id': sessao.id }) }}">
  <div class="form-group">
    <label for="senha" class="col-sm-12 col-form-label">Senha:</label>
    <input type="password" class="form-control" name="senha" id="senha" placeholder="Digite sua senha..." required>
  </div>
  <button type="submit" class="btn btn-danger">Excluir</button>
</form>

{% endblock content %}