{% extends "baseNav.twig" %} {% block title %} Dashboard {% endblock title %} {% block content %}

<h1>Dados do usuário</h1>
<p>Altere aqui os seu, email, senha ou exclua sua conta de nossa base de dados.</p>
<p><b>Email: </b></Email:>{{sessao.email}} </p>
<div class="btn-group" role="group" aria-label="Funções">
  <a herf="#" class="btn btn-light">Alterar E-mail</a>
  <a herf="#" class="btn btn-light">Alterar Senha</a>
  <a herf="#" class="btn btn-light">Excluir Conta</a>
</div>


{% endblock content %}