{% extends "baseNav.twig" %} {% block title %} Alterar foto do usuário {% endblock title %} {% block content %}
<h1>Alterar foto do usuário</h1>
<form method="POST" action="{{path_for('usuario-alterar-foto', {'id' : sessao.id})}}
    <div class="form-group">
        <label for="photo">Foto:</label>
        <input type="file" class="form-control-file" id='photo'>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock content %}